## 627. Swap Salary
### Table: Salary

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |
| sex         | ENUM    |
| salary      | int     |

**Primary Key**: `id` â€” each row contains unique information about an employee.

**Description**:
The table contains information about employees, including their name, gender (`sex`), and salary.  
The `sex` column is an ENUM type with values `'m'` and `'f'`.

---

### ðŸ§  Business Logic:
Write a solution to **swap all `'f'` and `'m'` values** in the `sex` column:
- `'f'` â†’ `'m'`
- `'m'` â†’ `'f'`

Use a **single update statement** â€” no intermediate temporary tables or select statements.

---

### âœ… Expected Output Format:

#### Input:
| id | name | sex | salary |
|----|------|-----|--------|
| 1  | A    | m   | 2500   |
| 2  | B    | f   | 1500   |
| 3  | C    | m   | 5500   |
| 4  | D    | f   | 500    |

#### Output:
| id | name | sex | salary |
|----|------|-----|--------|
| 1  | A    | f   | 2500   |
| 2  | B    | m   | 1500   |
| 3  | C    | f   | 5500   |
| 4  | D    | m   | 500    |

**Explanation**:  
- IDs 1 and 3: `'m'` â†’ `'f'`  
- IDs 2 and 4: `'f'` â†’ `'m'`

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import when, col

# Sample data
data = [
    (1, "A", "m", 2500),
    (2, "B", "f", 1500),
    (3, "C", "m", 5500),
    (4, "D", "f", 500)
]

# Define schema
schema = StructType([
    StructField("id", IntegerType(), False),
    StructField("name", StringType(), True),
    StructField("sex", StringType(), True),
    StructField("salary", IntegerType(), True)
])

# Create DataFrame
df = spark.createDataFrame(data, schema)

#Update statement is  not suppoted in pyspark and unity catlog

In [0]:
df.display()
updated_df = df.withColumn("sex",when(col("sex")=="m", "f").when(col("sex")=="f","m").otherwise("sex")).select("id","name","sex","salary")
display(updated_df)